apache-airflow
airflow-provider-great-expectations
dvc
fastapi
feast
matplotlib
mlflow
nltk
numpy
numpyencoder
optuna
pandas
pretty-errors
rich
scikit-multilearn
seaborn
sklearn
snorkel
streamlit
torch==1.9.0
typer
uvicorn[standard]==0.13.3
watchdog
wordcloud